*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#050505;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#111;
}

header h2{
color:#a855f7;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
}

nav a:hover{
color:#a855f7;
}


.hero{
height:500px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#050505,#2e0057);
}

.hero h1{
font-size:45px;
color:#a855f7;
}

.hero p{
margin:20px;
font-size:18px;
}


button{
padding:12px 30px;
border:none;
border-radius:30px;
background:#a855f7;
color:white;
}


section{
padding:60px;
text-align:center;
}


.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}


.card,
.experience-card{

background:#111;
border:1px solid #a855f7;
padding:25px;
width:280px;
border-radius:15px;

}


.card:hover,
.experience-card:hover{

transform:translateY(-10px);
transition:0.3s;

}


h2{
color:#a855f7;
margin-bottom:25px;
}


footer{
background:#111;
padding:20px;
text-align:center;
color:#aaa;
}
